<div class="event-card">
  <div class="title">
    <h4>Title</h4>
    <%# easter egg %>
    <% if event.title&.include?('taco hemingway') %>
      <%= link_to event.title, "https://www.youtube.com/watch?v=kO6Ky8L0nrI", target: "_blank" %>
    <% else %>
      <%= link_to event.title, event %>
    <% end %>
  </div>
  <div class="creator">
    <h4>Creator</h4>
    <%= link_to event.creator.name, event.creator %>
  </div>
  <div class="location">
    <h4>Location</h4>
    <%= event.location %>
  </div>
  <div class="date">
    <h4>Date</h4>
    <%= event.date %>
  </div>
  <div class="description">
    <h4>Description</h4>
    <%= event.description %>
  </div>
</div>