<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="flash notice"><%= notice %></div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash alert"><%= alert %></div>
    <% end %>

    <div class="top-bar">
      <div><%= link_to "Home", root_path %></div>
      <div><%= link_to "Create event", new_event_path %></div>
      <% if user_signed_in? %>
        <div><%= link_to current_user.name, current_user %></div>
        <div><%= link_to "Sign out", destroy_user_session_path, method: :delete %></div>
      <% else %>
        <div><%= link_to "Sign in", new_user_session_path %></div>
        <div><%= link_to "Sign up", new_user_registration_path %></div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
